@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro&display=swap');

// FONTS
$font-stack : 'Source Sans Pro', sans-serif;
$font-text: 'Nunito', sans-serif;

// COLORS
$primary-color: rgb(146, 11, 11);
$text-color: rgb(39, 38, 38);
$white-color: #eee;